/* Reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* reuse css */
.text-center{
  text-align: center;
}

/* Responsive */
@media (max-width: 768px){

  .hero-wrapper{
    flex-direction: column;
    text-align: center;
  }

  .hero-content h1{
    font-size: 32px;
  }

  nav ul{
    gap: 15px;
  }

}
body{
  font-family: 'Poppins', sans-serif;
}

/* Container */
.container{
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

/* Navbar */
.navbar{
  padding: 15px 0;
  background: linear-gradient(to right, #f8f9fa, #e9ecef);
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h2{
  background: #06e777;
  color: white;
  padding: 8px 18px;
  border-radius: 5px;
}

/* Menu */
nav ul{
  list-style: none;
  display: flex;
  gap: 30px;
}

nav ul li a{
  text-decoration: none;
  font-weight: 600;
  color: #333;
  transition: 0.3s;
}

nav ul li a:hover{
  color: #06e777;
}

/* Hero Section */
.hero{
    padding: 80px 0;
    background: linear-gradient(to right, #f8f9fa, #e9ecef);
  }

.hero-content{
  flex: 1;
}

.hero-content h1{
  font-size: 48px;
  margin-bottom: 15px;
}

#subtitle{
  font-size: 20px;
  color: #666;
  margin-bottom: 20px;
}

.description{
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 25px;
}

.hero-wrapper{
  display: flex;
  align-items: center;
  gap: 50px;
}

.hero-image{
  flex: 1;
  text-align: center;
}

.hero-image img{
  width: 80%;
  max-width:  500px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

/* Button */
.btn{
  background: #06e777;
  color: white;
  border: none;
  padding: 12px 24px;
  font-weight: 600;
  font-size: 25px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover{
  background: #05b666;
  transform: translateY(-3px);
}
/* about section */
.about{
  padding: 80px 0;
  background: linear-gradient(to right, #f8f9fa, #e9ecef);
  gap: 50px;
}

.about-img{
  text-align: center;
  margin-bottom: 30px;
  
}

.about-img img{
  width: 100%;
  max-width: 550px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}
.about-title{
  width: 100%;
  text-align: center;
  margin: auto;
}

.about h2{
  font-size: 32px;
  margin-bottom: 15px;
  text-align: center;
}

.about p{
  font-size: 16px;
  line-height: 1.6;
}
.about-btn{
  margin-top: 20px;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  margin-left: 50px;
}
.about-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-description{
  margin: auto;
  max-width: 800px;
  text-align: justify;
   margin-left: 20px;
}
.social-icon{
  display: flex;
  gap: 15px;
  width: 100%;
  font-size: 50px;
  justify-content: center;
  margin-top: 20px;
  color: chartreuse;
}