/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box

}
/* Responsive section */
/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
/* Navbar section */ 
.logo{
  background-color: #06e777;
  color: white;
  border: none;
  padding: 8px 18px;
  font-size: 25px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

nav:hover {
  background-color: #06e777;
  transition: 3s;
  color: yellow;
}

.navbar{
    padding: 10px 0;
    width: 1300px;
    margin: auto;
}

nav{
display: flex;
 justify-content: space-between;
 align-items: center;
}


.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;

}

.navbar ul li {
  margin: 0 15px;

}

.navbar ul li a {
  text-decoration: none;
  font-weight: bold;
  color: #333;
  font-size: 30px;
}

.navbar ul li a:hover {
  color: #06e777;
  transform: scale(1.1);
}

/* hero Section */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
  width: 1300px;
  margin: auto;
}

.hero-content {
  flex: 1;
  padding: 20px;
}
.hero-content h1{
  font-size: 100px;
  font-weight: 600;
  margin-bottom: 10px;
}
#subtitle{
  font-size: 24px;
  font-weight: 400;
  color: #666;
}
.description {
  font-size: 20px;
  font-weight: 400;
  color: black;
  text-align: justify;
}
.hero-image {
  flex: 1;
  text-align: center;

}

.hero-image img {
  max-width: 65%;
  height: auto;
  border-radius: 10px;
  border: 1px solid #06e777;
  margin-left: 160px;
}
.btn{
  background-color: #06e777;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 30px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: #05b666;
  transform: scale(1.1);
}
