*{
    margin: 0;
    padding: 0;
}
/* Navbar section */ 
.hero-btn{
  background-color: #ff6600;
  color: white;
  border: none;
  padding: 8px 18px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.menu-btn:hover {
  background-color: #e05500;
  transition: 3s;
}
.navbar{
    width: 1020px;
    margin: auto;
    margin-top: 10px;
    
}
nav{
display: flex;
 justify-content: space-between;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  margin: 0 15px;
}

.navbar ul li a {
  text-decoration: none;
  font-weight: bold;
}

.navbar ul li a:hover {
  color: #f4b400;
}